body {
    padding-left: 16px;
    padding-right: 16px;
}
h1 {
    display: none;
}
h2 {
    font-size: 1.2em;
    border-bottom: 1px solid #999999;
    padding-bottom: 0.2em;
}
h3 {
    font-size: 1em;
    margin-bottom: 0;
}
h3 + p, h4 + p {
    margin-top: 0;
    padding-top: 0;
}
h4 {
    margin-bottom: 0;
}
ul {
    padding-left: 1em;
}
li {
    font-size: 1em;
}
a {
    color: #487092;
}
.dark {
    background-color: #000000;
}
.dark * {
    color: #FFFFFF;
}
a, .dark a {
    text-decoration: none;
    color: #0277BD;
}
a:empty {
    position: relative;
    top: -8px;
}
code {
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f0f0f0;
    font-family: 'Droid Sans Mono', 'Courier New', 'Courier', monospace;
    font-size: 0.9rem;
}
pre code {
    display: block;
    margin: 0;
    padding: 8px;
    border: 0 none;
    background: #f0f0f0;
    overflow-x: auto;
}
table code {
    word-break: break-all;
}
table th, table td, table code {
    font-size: 12px;
}
.dark code, .dark pre {
    background: #090909;
    border-color: #202020;
}