<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ch.rmy.android.http_shortcuts">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="ch.rmy.android.http_shortcuts.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/ic_launcher"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.editor.ShortcutEditorActivity"
            android:label="@string/edit_shortcut"
            android:parentActivityName=".activities.main.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".activities.editor.basicsettings.BasicRequestSettingsActivity"
            android:label="@string/section_basic_request"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.editor.ShortcutEditorActivity" />
        </activity>
        <activity
            android:name=".activities.editor.headers.RequestHeadersActivity"
            android:label="@string/section_request_headers"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.editor.ShortcutEditorActivity" />
        </activity>
        <activity
            android:name=".activities.editor.body.RequestBodyActivity"
            android:label="@string/section_request_body"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.editor.ShortcutEditorActivity" />
        </activity>
        <activity
            android:name=".activities.editor.authentication.AuthenticationActivity"
            android:label="@string/section_authentication"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.editor.ShortcutEditorActivity" />
        </activity>
        <activity
            android:name=".activities.editor.prerequest.PreRequestActivity"
            android:label="@string/label_actions_pre_request"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.editor.ShortcutEditorActivity" />
        </activity>
        <activity
            android:name=".activities.editor.postrequest.PostRequestActivity"
            android:label="@string/label_actions_post_request"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.editor.ShortcutEditorActivity" />
        </activity>
        <activity
            android:name=".activities.editor.miscsettings.MiscSettingsActivity"
            android:label="@string/label_misc_settings"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.editor.ShortcutEditorActivity" />
        </activity>
        <activity
            android:name=".activities.editor.advancedsettings.AdvancedSettingsActivity"
            android:label="@string/label_advanced_technical_settings"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.editor.ShortcutEditorActivity" />
        </activity>
        <activity
            android:name=".activities.categories.CategoriesActivity"
            android:label="@string/title_categories"
            android:parentActivityName=".activities.main.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".activities.misc.CurlImportActivity"
            android:label="@string/title_curl_import"
            android:parentActivityName=".activities.main.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".activities.variables.VariablesActivity"
            android:label="@string/title_variables"
            android:parentActivityName=".activities.main.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".activities.variables.VariableEditorActivity"
            android:label="@string/edit_variable"
            android:parentActivityName=".activities.variables.VariablesActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.variables.VariablesActivity" />
        </activity>
        <activity
            android:name=".activities.settings.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".activities.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ExecuteActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_execute"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="ch.rmy.android.http_shortcuts.execute" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.misc.LicensesActivity"
            android:label="@string/title_licenses" />

        <activity
            android:name=".activities.settings.TranslateActivity"
            android:label="@string/title_translate" />

        <activity
            android:name=".activities.misc.ShareActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/action_send_to"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label=".FilePickerActivity"
            android:theme="@style/FilePickerTheme" />

        <!-- EXPERIMENTAL -->
        <activity
            android:name=".activities.misc.VoiceActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_execute"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".http.ExecutionService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".plugin.PluginEditActivity"
            android:exported="true"
            android:icon="@drawable/ic_plugin"
            android:label="@string/plugin_name">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".plugin.PluginBroadcastReceiver"
            android:exported="true"
            android:process=":background">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>

        <activity-alias
            android:name=".ExecuteActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_execute"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:targetActivity=".activities.ExecuteActivity"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="ch.rmy.android.http_shortcuts.execute" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ch.rmy.android.http_shortcuts.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/nnf_provider_paths" />
        </provider>

    </application>

</manifest>
