<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="ch.rmy.android.http_shortcuts"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="12"
    android:versionName="1.8.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="ch.rmy.android.http_shortcuts.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/LightTheme">
        <activity
            android:name=".ListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".EditorActivity"
            android:label="@string/edit_shortcut"
            android:parentActivityName=".ListActivity"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListActivity"/>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".ListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListActivity"/>
        </activity>
        <activity
            android:name=".ExecuteActivity"
            android:label="@string/title_activity_execute"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="ch.rmy.android.http_shortcuts.execute"/>
            </intent-filter>
        </activity>

        <receiver android:name="ch.rmy.android.http_shortcuts.http.ExecutionRetry">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
